*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}


#in{
    color: #ffff00;    
}
/* banner in2 */
#in2{
    color: #26428d;
}
.navbar-nav{
	margin-right: 0 !important;
	padding-right: 100px;
}
.navbar{
	background-color: #072348;
	color: #fff !important;
}
.nav-item a{
	color: #ffffff !important;
}
.nav-item a:hover{
	color: #ffff00 !important;
    text-decoration:underline;
}
.nav-item {
	padding-left: 10px;
}
.navbar-brand{
	color: #fff !important;
	padding-left: 10px;
}
#navbar button{
	color: #fff !important;
}
#yelNav{
    color: #ffff00;
}
#removeColor a:hover{
   text-decoration: none;
   color: white !important;
}

#avatar{
    width: 30vh;
    margin-top: 4vh;  
        animation-name: floating;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
        padding-right: 2rem;
        margin-top: 5px;
    }
    
    @keyframes floating {
        from { transform: translate(0,  0px); }
        65%  { transform: translate(0, 15px); }
        to   { transform: translate(0, -0px); }    
    }

   
/* banner */

#banner-container{
	background-color: #26428d;
	color: #fff !important;
	padding-top: 80px;
	padding-bottom: 80px;
}
#banner-row img{
	max-width: 65%;
	height: auto;
	display: block;
	padding-left: 30px;
}

#banner-row a{
	/* background-color: #fff !important; */
	color: #000 !important;
	border: none;
	margin-left: 20px;
	margin-top: 20px; 
}


#banner-row h3,p{
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
}
#banner-col{
	padding-left: 20px;
}
/* service */
#service{
	padding-top: 20px;
	padding-bottom: 20px;
}


#service h1{
	padding-bottom: 70px;
    
}

/* about us */

#about{
	padding-top: 80px;
	padding-bottom: 80px;
}
#about h1{
	padding-bottom: 70px;
}
#about-col ul{
	padding-top: 50px;
	padding-left: 50px;
}
#about-col ul li{
	padding-top: 15px;
}

/* products */
#product{
	padding-top: 80px;
	padding-bottom: 80px;
}

#product h1{
	padding-bottom: 70px;
}
#product-col2 ul{
	padding-top: 90px;
}

#product-col2 ul li{
	padding-top: 15px;
}
/* footer */
.mb-3{
	padding-top: 10px;
}

@media only screen and (max-width:960px)
{
	.navbar-brand{
		padding-left:0;
	}
}
@media only screen and (max-width:760px)
{
	#banner-row img{
		padding-top:20px;
	}
	.social-col{
		width: 33%;
	}
}

  @media screen and (max-width: 768px) {
    .btn-outline-dark {
      border: none;
      padding: 0;
      outline: none;
    }
  
    .btn-outline-dark:hover {
      background: none;
      color: gray;
    }
  }

  footer {
    color: #fff;
}
ul {
    padding: 0px;
}
ol, ul {
    margin-bottom: 0px;
}

.social-icon {
    padding: 0;
    margin-bottom: 0px;
        float: right;
}

.social-icon li {
    list-style: none;
    display: inline-block;
}
.social-icon li i {
    font-size: 14px;
    color: #262725;
    border: solid 2px #ffffff;
    height: 31px;
    width: 31px;
    text-align: center;
    vertical-align: middle;
    border-radius: 100px;
    line-height: 27px;
    margin-right: 15px;
    transition: 1s;
    background: #fff;
}
.social-icon li i:hover {
    border: solid 2px #262725;
    color: #ffffff;
    background: #262725;
}

.phone-no i {
    position: relative;
    margin-right: 14px;
    font-size: 43px;
    top: 5px;
}
.phone-no {
    margin-top: -22px;
    text-align: right;
}
.footer-day-time {
    padding-bottom: 30px;
    border-bottom: 2px solid #7a6f6f;
    padding-top: 14px;
    margin-bottom: 55px;
}
.footer-day-time ul li {
    display: inline;
    margin-right: 20px;
}
.footer-day-time ul li:last-child {
    margin-right: 0px;
}
.phone-no a {
    color: #fff;
    font-family: PlayfairDisplay-Black;
    font-size: 34px;
    font-weight: bold;
}
.footer-top {
    background: #2f2f2f;
    padding:50px 0 50px;
}
.footer-top h4 {
    font-size: 19px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.footer-top p {
    font-size: 13px;
    line-height: 2;
}

footer p {
  margin-bottom:0;
}
.footer-logo {
    display: block;
    margin-bottom: 32px;
}
.address1 li {
    list-style: none;
    position: relative;
    padding: 0px 0 14px 34px;
    line-height: 26px;
}
ul.address1 span {
    position: absolute;
    width: 40px;
    max-width: 40px;
    left: 0;
}
.address1 li a {
    color: #fff;
    text-decoration: none;
}
ul.address1 i {
    width: 20px;
    position: absolute;
    left: 0px;
    text-align: center;
    font-size: 28px;
    top: 0;
}

ul.address1 i.fa-envelope {
    font-size: 18px;
    top: 4px;
}
footer ul.social-icon {
    float: left;
}
footer .social-icon li i:hover {
    background: #2f4aa3;
    border-color: #2f4aa3;
}



/* something new */
@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 0.8; }
}
.cursor::after {
  content: "|";
  font-size: 1em;
  animation: blink infinite alternate 0.4s;
}

/* (X) DOES NOT MATTER */
/* ENTIRE PAGE */
#demo{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 2em;
}

#fixing{
    margin-top: 4.1rem;
}

#btn{
    padding-right: 25vh ;
}

#call{
    margin-top: 3rem;
}
